* {
  box-sizing: border-box;
}

/* * is used to apply to everything. box-sizing: border-box; can be applied so that padding will be adjusted */

body {
  max-width: 960px;
  font-family: Verdana 
}

header {
  background-color: #edd9c0;
}

footer {
  background-color: clear;
  clear: both;
  width: 100%;
}

.column-1 {
  background-color: #a8b6bf;
  float: left;
  width: 50%;
  padding: 5px;
}

.column-2 {
  background-color: #edd9c0;
  float: right;
  width: 50%;
  padding: 5px;
}

article {
  background-color: #7d4627;
}

ul li a {
  background-color: #edd9c0;
}

h2 {
  background-color: #c9d8c5;
}

details {
  background-color: #a8b6bf;
}

p {
  background-color: #c9d8c5;
}

/* I definitely was able to reaffirm my CSS knowledge and build upon it with this challenge. I initially was going to use display instead of float, but it was nice to use something different and learn other methods. I'd say this challenge was very fun for me, as for as the actual challenge goes and especially the vibe created with my pair. It made our learning environemnt effective, efficient, and fun.*/